%h1 New Post
= form_for @post do |f|
  - if @post.errors.any?
    .alert-message.block-message.warning
      %a.close x
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being published:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li
            %p= msg
  %fieldset
    .clearfix
      = f.label :title
      .input= f.text_field :title
      = f.label :body
      .input= f.text_area :body
      = f.label :image_url, "Picture URL:"
      .input= f.text_field :image_url
      = f.label :tags
      .input= f.text_field :tags, value: ""
      .actions= f.submit


