!!!
%html
  %head
    %title Ruby Revealed
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar{"data-scrollspy" => "scrollspy"}
      .topbar-inner
        .container
          %a.brand{href: "/"} Revealed
          %ul.nav
            - if author_signed_in?
              %li= link_to "New post...", new_post_path
              %li= render "devise/menu/login_items"

    %header.jumbotron.masthead#overview
      .inner
        .container
          %h1= @blog.title
          %p.lead= @blog.subtitle
    .container-fluid
      .sidebar
        .well
          %h4 Tags
          %nav.tags
            %ul= render partial: "tags/tag_item", collection: Taggable(Post).all_tags
      .content
        = render 'layouts/success_message' if flash[:notice]
        = render 'layouts/error_message' if flash[:error]
        = render 'layouts/notice_message' if flash[:alert]
        = yield
